<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Admin</title>
</head>

<body>
    <div class="body">
        <div class="sidebar">
            <img src="imgs/ccms-logo.svg" alt="logo" class="sidebar-logo">
            <div class="sidebar-link-container">
                <div style="height: fit-content; display: flex; flex-direction: column; align-items: flex-start; align-content: flex-start; width: 80px; margin-left: 15px; overflow-x: hidden;">
                    <a href="/admin/home" class="sidebar-link">- Home</a>
                    <a href="/admin/posts" class="sidebar-link">- Posts</a>
                    <a href="#" class="sidebar-link">- Pages</a>
                    <a href="#" class="sidebar-link">- Website</a>
                </div>
                <div style="height: fit-content; display: flex; flex-direction: column; align-items: flex-start; align-content: flex-start; width: 80px; margin-left: 15px; overflow-x: hidden;">
                    <a href="#" class="sidebar-link">- Setting</a>
                    <a href="#" class="sidebar-link-logout">- Logout</a>
                </div>
            </div>
        </div>
        <div class="mainarea">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <h1 style="margin-bottom: 0px;">Welcome Aboard!</h1>
                <p>Cozwix CMS is a cms build for speed and simplicity.</p>
            </div>
        </div>
    </div>
</body>

</html>