<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <title>Admin</title>
</head>

<body>
    <div class="body">
        <%- include('../partials/admin/navbarsave'); %>
            <div class="mainarea" style="align-items: flex-start; align-content: flex-start;overflow-y: auto;">
                <div style="width: 900px; height: auto; padding: 20px 50px;">
                    <div style="min-height: 90vh;">
                        <div id="editor">

                        </div>
                        <div>
                            <div class="additemdropdownbutton" onclick="showItems()">
                                <p style=" width: 100%; font-size: 30px; user-select: none;">Add Item
                                    <p />
                            </div>
                            <div class="additemdropdown" id="itemdropdown">
                                <div style="display: flex; flex-direction: row;;" class="addBlock-item" onclick="addBlock('heading1')">
                                    <img src="imgs/Iconsax-Broken-text.svg" alt="logo" class="postlist-item-icon" style="width: 20px; margin-right: 10px; height: auto;">
                                    <p style="color:#303030; width: calc(50% - 150px); min-width: 200px; font-size: 20px; margin: 4px;">
                                        Heading 1
                                    </p>
                                </div>
                                <div style="display: flex; flex-direction: row;;" class="addBlock-item" onclick="addBlock('heading2')">
                                    <img src="imgs/Iconsax-Broken-text.svg" alt="logo" class="postlist-item-icon" style="width: 20px; margin-right: 10px; height: auto;">
                                    <p style="color:#303030; width: calc(50% - 150px); min-width: 200px; font-size: 20px; margin: 4px;">
                                        Heading 2
                                    </p>
                                </div>
                                <div style="display: flex; flex-direction: row;;" class="addBlock-item" onclick="addBlock('heading3')">
                                    <img src="imgs/Iconsax-Broken-text.svg" alt="logo" class="postlist-item-icon" style="width: 20px; margin-right: 10px; height: auto;">
                                    <p style="color:#303030; width: calc(50% - 150px); min-width: 200px; font-size: 20px; margin: 4px;">
                                        Heading 3
                                    </p>
                                </div>
                                <div style="display: flex; flex-direction: row;;" class="addBlock-item" onclick="addBlock('heading4')">
                                    <img src="imgs/Iconsax-Broken-text.svg" alt="logo" class="postlist-item-icon" style="width: 20px; margin-right: 10px; height: auto;">
                                    <p style="color:#303030; width: calc(50% - 150px); min-width: 200px; font-size: 20px; margin: 4px;">
                                        Heading 4
                                    </p>
                                </div>
                                <div style="display: flex; flex-direction: row;;" class="addBlock-item" onclick="addBlock('paragraph')">
                                    <img src="imgs/Iconsax-Broken-text.svg" alt="logo" class="postlist-item-icon" style="width: 20px; margin-right: 10px; height: auto;">
                                    <p style="color:#303030; width: calc(50% - 150px); min-width: 200px; font-size: 20px; margin: 4px;">
                                        Paragraph
                                    </p>
                                </div>

                                <div style="display: flex; flex-direction: row;;" class="addBlock-item" onclick="addBlock('image')">
                                    <img src="imgs/Iconsax-Broken-image1.svg" alt="logo" class="postlist-item-icon" style="width: 20px; margin-right: 10px; height: auto;">
                                    <p style="color:#303030; width: calc(50% - 150px); min-width: 200px; font-size: 20px; margin: 4px;">
                                        Image
                                    </p>
                                </div>
                                <div style="display: flex; flex-direction: row;;" class="addBlock-item" onclick="addBlock('video')">
                                    <img src="imgs/Iconsax-Broken-video.svg" alt="logo" class="postlist-item-icon" style="width: 20px; margin-right: 10px; height: auto;">
                                    <p style="color:#303030; width: calc(50% - 150px); min-width: 200px; font-size: 20px; margin: 4px;">
                                        Video
                                    </p>
                                </div>
                                <div style="display: flex; flex-direction: row;;" class="addBlock-item" onclick="addBlock('audio')">
                                    <img src="imgs/Iconsax-Broken-video.svg" alt="logo" class="postlist-item-icon" style="width: 20px; margin-right: 10px; height: auto;">
                                    <p style="color:#303030; width: calc(50% - 150px); min-width: 200px; font-size: 20px; margin: 4px;">
                                        Audio
                                    </p>
                                </div>



                            </div>
                        </div>

                    </div>
                    <form action="/admin/save" id="saveform" method="POST">
                        <input type="text" name="data" id="datainput" style="display: none;">

                    </form>
                </div>


            </div>
            <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>



    </div>
    </div>

    <script src="js/newpost.js"></script>
    <script>
        var d = '<%- data %>'
        d = JSON.parse(d)

        var editor = document.getElementById('editor')
        var dataInput = document.getElementById('datainput')
        var dataInputs = document.getElementsByClassName('datainput')

        data = d

        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote'],


            [{
                'list': 'ordered'
            }, {
                'list': 'bullet'
            }],
            [{
                'script': 'sub'
            }, {
                'script': 'super'
            }], // superscript/subscript
            [{
                'indent': '-1'
            }, {
                'indent': '+1'
            }], // outdent/indent
            [{
                'direction': 'rtl'
            }], // text direction


            [{
                'header': [1, 2, 3, 4, 5, 6, false]
            }],


            [{
                'align': []
            }],

            ['clean'] // remove formatting button

        ];


        dataInput.value = JSON.stringify(d)

        console.log("dataInput value and stuff", dataInput.value, typeof dataInput.value)


        if (data.length == undefined) {
            d = d.data
        }

        console.log(data)

        for (var i = 0; i < d.length; i++) {
            if (d[i].align == '') {
                d[i].align = 'left';
            }
            if (d[i].tab == '') {
                d[i].tab = 'none';
            }
            addBlock1(d[i].type, d[i].id, d[i].data, d[i].align, d[i].tab, d[i].caption)
        }

        function deleteItem(id) {
            for (var i = 0; i < data.length; i++) {
                if (data[i].id == id) {
                    data.splice(i, 1)
                    editor.innerHTML = ''
                    for (var i = 0; i < d.length; i++) {
                        if (d[i].align == '') {
                            d[i].align = 'left';
                        }
                        if (d[i].tab == '') {
                            d[i].tab = 'none';
                        }
                        addBlock1(d[i].type, d[i].id, d[i].data, d[i].align, d[i].tab, d[i].caption)
                    }
                    d.data = data
                    dataInput.value = JSON.stringify(d)
                }
            }
        }

        function addDataRich(id) {
            for (var i = 0; i < data.length; i++) {
                if (data[i].id == id) {
                    data[i].data = document.getElementById(`${id}`).getElementsByClassName('ql-editor')[0].innerHTML
                    console.log(data[i].data)
                }
            }
            dataInput.value = JSON.stringify(data)
            console.log("datainput", dataInput.value)
            for (var i = 0; i < dataInputs.length; i++) {
                dataInputs[i].value = JSON.stringify(data)
            }
        }

        function addBlock1(item, elid, data, align, tab, caption) {
            if (item == 'heading1') {
                editor.innerHTML += `
      <div style="width: 90%; margin: 20px auto;">
          <p class="caption" style="margin-bottom: 4px;">Heading</p>
          <div style="width: calc(100% - 80px); margin: auto; border: 1px solid black; background-color: white; color: #323435; border-radius: 0px; padding: 40px;">
              <h1 style="text-align: ${align};" id="${elid}">${data}</h1>
              <input type="text" class="item-input" id="${elid}input" value="${data}" onkeyup="document.getElementById('${elid}').innerText = document.getElementById('${elid}input').value; addData('${elid}');" placeholder="Heading Text...">
              <div style="display: flex; flex-direction: row; margin-top: 30px;">
                    <button class="align-button-start" onclick="align('left', '${elid}')"><img src="imgs/alignleft.svg" alt=""></button>
                    <button class="align-button" onclick="align('right', '${elid}')"><img src="imgs/alignright.svg" alt=""></button>
                    <button class="align-button" onclick="align('center', '${elid}')"><img src="imgs/aligncenter.svg" alt=""></button>
                    <button class="align-button-end" onclick="align('justify', '${elid}')"><img src="imgs/alignjustify.svg" alt=""></button>
                    
                </div>
          </div>
      </div>`

            } else if (item == 'heading2') {
                editor.innerHTML += `
      <div style="width: 90%; margin: 20px auto;">
          <p class="caption" style="margin-bottom: 4px;">Heading</p>
          <div style="width: calc(100% - 80px); margin: auto; border: 1px solid black; background-color: white; color: #323435; border-radius: 0px; padding: 40px;">
              <h2 style="text-align: ${align};" id="${elid}">${data}</h2>
              <input type="text" class="item-input" id="${elid}input" value="${data}" onkeyup="document.getElementById('${elid}').innerText = document.getElementById('${elid}input').value; addData('${elid}');" placeholder="Heading Text...">
              <div style="display: flex; flex-direction: row; margin-top: 30px;">
                    <button class="align-button-start" onclick="align('left', '${elid}')"><img src="imgs/alignleft.svg" alt=""></button>
                    <button class="align-button" onclick="align('right', '${elid}')"><img src="imgs/alignright.svg" alt=""></button>
                    <button class="align-button" onclick="align('center', '${elid}')"><img src="imgs/aligncenter.svg" alt=""></button>
                    <button class="align-button-end" onclick="align('justify', '${elid}')"><img src="imgs/alignjustify.svg" alt=""></button>
                    
                </div>
          </div>
      </div>`

            } else if (item == 'heading3') {
                editor.innerHTML += `
      <div style="width: 90%; margin: 20px auto;">
          <p class="caption" style="margin-bottom: 4px;">Heading</p>
          <div style="width: calc(100% - 80px); margin: auto; border: 1px solid black; background-color: white; color: #323435; border-radius: 0px; padding: 40px;">
              <h3 style="text-align: ${align};" id="${elid}">${data}</h3>
              <input type="text" class="item-input" id="${elid}input" value="${data}" onkeyup="document.getElementById('${elid}').innerText = document.getElementById('${elid}input').value; addData('${elid}');" placeholder="Heading Text...">
              <div style="display: flex; flex-direction: row; margin-top: 30px;">
                    <button class="align-button-start" onclick="align('left', '${elid}')"><img src="imgs/alignleft.svg" alt=""></button>
                    <button class="align-button" onclick="align('right', '${elid}')"><img src="imgs/alignright.svg" alt=""></button>
                    <button class="align-button" onclick="align('center', '${elid}')"><img src="imgs/aligncenter.svg" alt=""></button>
                    <button class="align-button-end" onclick="align('justify', '${elid}')"><img src="imgs/alignjustify.svg" alt=""></button>
                    
                </div>
          </div>
      </div>`

            } else if (item == 'heading4') {
                editor.innerHTML += `
      <div style="width: 90%; margin: 20px auto;">
          <p class="caption" style="margin-bottom: 4px;">Heading</p>
          <div style="width: calc(100% - 80px); margin: auto; border: 1px solid black; background-color: white; color: #323435; border-radius: 0px; padding: 40px;">
              <h4  style="text-align: ${align};"id="${elid}">${data}</h4>
              <input type="text" class="item-input" id="${elid}input" value="${data}" onkeyup="document.getElementById('${elid}').innerText = document.getElementById('${elid}input').value; addData('${elid}');" placeholder="Heading Text...">
              <div style="display: flex; flex-direction: row; margin-top: 30px;">
                    <button class="align-button-start" onclick="align('left', '${elid}')"><img src="imgs/alignleft.svg" alt=""></button>
                    <button class="align-button" onclick="align('right', '${elid}')"><img src="imgs/alignright.svg" alt=""></button>
                    <button class="align-button" onclick="align('center', '${elid}')"><img src="imgs/aligncenter.svg" alt=""></button>
                    <button class="align-button-end" onclick="align('justify', '${elid}')"><img src="imgs/alignjustify.svg" alt=""></button>
                    
                </div>
          </div>
      </div>`

            } else if (item == 'paragraph') {
                var t = 0
                if (tab == '1') {
                    t = 30
                } else if (tab == '2') {
                    t = 60
                }
                editor.innerHTML += `
      <div style="width: 90%; margin: 20px auto;">
          <p class="caption" style="margin-bottom: 4px;">Paragraph</p>
          <div style="width: calc(100% - 80px); margin: auto; border: 1px solid black; background-color: white; color: #323435; border-radius: 0px; padding: 40px;">
              <p style="text-align: ${align}; text-indent: ${t}px;" id="${elid}">${data}</p>
              <input type="text" class="item-input" id="${elid}input" value="${data}" onkeyup="document.getElementById('${elid}').innerText = document.getElementById('${elid}input').value; addData('${elid}');" placeholder="Paragraph Text...">
              <div style="display: flex; flex-direction: row; margin-top: 30px;">
                    <button class="align-button-start" onclick="align('left', '${elid}')"><img src="imgs/alignleft.svg" alt=""></button>
                    <button class="align-button" onclick="align('right', '${elid}')"><img src="imgs/alignright.svg" alt=""></button>
                    <button class="align-button" onclick="align('center', '${elid}')"><img src="imgs/aligncenter.svg" alt=""></button>
                    <button class="align-button-end" onclick="align('justify', '${elid}')"><img src="imgs/alignjustify.svg" alt=""></button>
                    <div style="display: flex; flex-direction: row; margin-top: 0px; margin-left: 30px;">
                        <button class="align-button-start" onclick="tab('none', '${elid}')">No
                                Tab</button>
                        <button class="align-button" onclick="tab('1', '${elid}')">1</button>
                        <button class="align-button-end" onclick="tab('2', '${elid}')">2</button>

                    <div style="display: flex; flex-direction: row;">  

                    </div>
                
          </div>
      </div>`

            } else if (item == 'image') {

                datainputs += 1
                editor.innerHTML += `
        <form action="/admin/uploadimage" method="POST" enctype="multipart/form-data">
        <input type="text" name="data" class="datainput" style="display: none;">
            <div style="width: 90%; display: block; margin: 20px auto;">
                <p class="caption" style="margin-bottom: 4px;">Image</p>
                <div style="width: calc(100% - 80px); margin: auto; border: 1px solid black; background-color: white; color: #323435; border-radius: 0px; padding: 40px;">
                    <img id="${elid}" src="uploads/resized/${data}" alt="your image" style="width: 50%; margin: auto; display: block; margin-bottom: 30px;" />
                    <input type="file" id="${elid}input" onchange="uploadImage('${elid}')" name="image" />
                    <button type="submit">Upload</button>
                    <input type="text" value="${caption}" class="item-input" style="margin-top: 20px;" id="${elid}inputcap" onkeyup="addDataCaption('${elid}');" placeholder="Caption...">
                </div>
            </div>
        </form>`
                forms += 1

            } else if (item == 'video') {

                datainputs += 1
                editor.innerHTML += `
        <form action="/admin/uploadvideo" method="POST" enctype="multipart/form-data">
            <input type="text" name="data" class="datainput" style="display: none;">
            <div style="width: 90%; display: block; margin: 20px auto;">
            <a onclick="deleteItem('${elid}')" style="padding-top: -10px; float: right;" class="postlist-item-button-delete">Delete</a>
                <p class="caption" style="margin-bottom: 4px;">Video</p>
                <div style="width: calc(100% - 80px); margin: auto; border: 1px solid black; background-color: white; color: #323435; border-radius: 0px; padding: 40px;">
                    <video style="width: 100%; margin-bottom: 20px; border-radius: 15px;" controls>
                        <source id="${elid}imagesource" src="uploads/${data}">
                        Your browser does not support HTML video.
                    </video>
                    <input type="file" id="${elid}input" name="video" onchange="readVideo('${elid}')"  type="video/*" />
                    <button type="submit">Upload</button>
                </div>
            </div>
        </form>`
                forms += 1

            } else if (item == 'audio') {
                datainputs += 1

                console.log("audo", data)
                editor.innerHTML += `
        <form action="/admin/uploadaudioedit" method="POST" enctype="multipart/form-data">
            <input type="text" name="data" class="datainput" style="display: none;">
            <div style="width: 90%; display: block; margin: 20px auto;">
            <a onclick="deleteItem('${elid}')" style="padding-top: -10px; float: right;" class="postlist-item-button-delete">Delete</a>
                <p class="caption" style="margin-bottom: 4px;">Audio</p>
                <div style="width: calc(100% - 80px); margin: auto; border: 1px solid black; background-color: white; color: #323435; border-radius: 0px; padding: 40px;">
                    <audio controls style="margin-bottom: 10px;">
                                <source src="uploads/${data}" id="${elid}audiosrc" >

                                Your browser does not support the audio element.
                            </audio>
                            <br>
                            <br>
                    <input type="file" id="${elid}input" name="audio" onchange="readAudio('${elid}')"  type="audio/*" />
                    <button type="submit">Upload</button>
                </div>
            </div>
        </form>`
                forms += 1

            } else if (item == 'richtext') {

                elid = elid.replace(' ', '')
                editor.innerHTML += `
       <div style="width: 90%; margin: 20px auto; margin-top: 30px;">
            <a onclick="deleteItem('${elid}')" style="margin-top: -20px; float: right;" class="postlist-item-button-delete">Delete</a>
            <div id="${elid}" onkeyup="addDataRich('${elid}')">
                ${data}
            </div>
        </div>`

                var quill = new Quill(`#${elid}`, {
                    modules: {
                        toolbar: toolbarOptions
                    },
                    theme: 'snow'
                });

            }
        }

        // document.getElementById('editor').onmousedown = function(e) {
        //     e = e || window.event;
        //     var elementId = (e.target || e.srcElement).id;

        //     // call your re-create function
        //     if ((e.target || e.srcElement).className.includes('edit')) {
        //         console.log(elementId);
        //         document.getElementById('edittitle').innerText = `${elementId}`
        //         console.log(document.getElementById(elementId).tagName)
        //     }
        //     // ...
        // }
    </script>

</body>

</html>