<div class="footer">

    <div>
        <!-- <img src="imgs/icon.svg" alt="" class="navbar-icon logo-hide"> -->
        <h1 class="footer-title">Title</h1>
    </div>
    <div class="footer-inner">
        <div style="display: flex; flex-direction:column; margin: 0px 16px;">
            <a href="/" class="navbar-link">Home</a>
            <div class="navlink-bar"></div>
        </div>
        <div style="display: flex; flex-direction:column; margin: 0px 16px;">
            <a href="/" class="navbar-link">About</a>
            <div class="navlink-bar"></div>
        </div>
        <div style="display: flex; flex-direction:column; margin: 0px 16px;">
            <a href="/" class="navbar-link" style="width: 100%;">Prayer Letters</a>
            <div class="navlink-bar"></div>
        </div>
        <div style="display: flex; flex-direction:column; margin: 0px 16px;">
            <a href="#" class="navbar-link">Contact</a>
            <div class="navlink-bar"></div>
        </div>
        <!-- <a href="#" class="navbar-link-button color-first bg-third text-decoration-none font-text font-weight-100 font-size-xlarge border-rad-small padding-small padding-left-large padding-right-large margin-left-medium sm-margin-left-none sm-margin-top-medium"></a> -->

    </div>

</div>