<div style="width: 100%; background-color: white;  position: sticky; top: 0px; z-index: 10; ">
    <div class="container">
        <div class="navbar">
            <div>
                <!-- <img src="imgs/icon.svg" alt="" class="navbar-icon logo-hide"> -->
                <h1 class="navbar-title">My Blog</h1>
            </div>
            <div class="navbar-inner" id="drop">
                <div style="display: flex; flex-direction:column; margin: 0px 16px;">
                    <a href="/" class="navbar-link">Home</a>
                    <div class="navlink-bar"></div>
                </div>
                <div style="display: flex; flex-direction:column; margin: 0px 16px;">
                    <a href="/about" class="navbar-link">About</a>
                    <div class="navlink-bar"></div>
                </div>
                <div style="display: flex; flex-direction:column; margin: 0px 16px;">
                    <a href="/prayerletters" class="navbar-link" style="width: 100%;">Prayer Letters</a>
                    <div class="navlink-bar"></div>
                </div>
                <div style="display: flex; flex-direction:column; margin: 0px 16px;">
                    <a href="/contact" class="navbar-link">Contact</a>
                    <div class="navlink-bar"></div>
                </div>
                <!-- <a href="#" class="navbar-link-button color-first bg-third text-decoration-none font-text font-weight-100 font-size-xlarge border-rad-small padding-small padding-left-large padding-right-large margin-left-medium sm-margin-left-none sm-margin-top-medium"></a> -->

            </div>
            <a href="javascript:void(0);" style="height: fit-content;" class="icon flex-row-center-y flex-row-start-x margin-right-medium" onclick="onMenuClick()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>