@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
 :root {
    --first: #fff;
    --second: #303030;
    --third: #9AFF44;
    --fourth: #f5f5f5;
    --title: 'Alata', sans-serif;
    --text: 'Alata', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--first);
    font-family: "Varela Round", sans-serif;
    overflow-y: hidden;
    /* letter-spacing: ; */
}

h1 {
    font-family: var(--title);
    font-weight: normal;
    color: var(--second);
    font-size: 40px;
}

h2 {
    font-family: var(--title);
    font-weight: normal;
    color: var(--second);
    font-size: 32px;
}

h3 {
    font-family: var(--title);
    font-weight: normal;
    color: var(--second);
    font-size: 26px;
}

h4 {
    font-family: var(--title);
    font-weight: normal;
    color: var(--second);
    font-size: 20px;
}

p {
    font-family: var(--text);
    font-weight: 100;
    color: var(--second);
    letter-spacing: 1px;
    font-size: 17px;
}

a {
    font-family: var(--text);
    color: var(--second);
}

.caption {
    font-size: 15px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 100;
}

.edit {
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.edit:hover {
    border: 1px solid #9BC38C;
    cursor: pointer;
}

.header-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 100px);
    padding: 20px 50px;
    align-items: center;
    align-content: center;
}

.body {
    display: flex;
    flex-direction: column;
}

.main-area {
    width: calc(100% - 100px);
    padding: 20px 50px;
}

textarea {
    resize: vertical;
}

.link-button-top {
    border: 1px solid black;
    height: 100%;
    padding: 12px 35px;
    position: relative;
    bottom: 5px;
    right: 5px;
    transition: all 0.2s ease;
}

.link-button-top:hover {
    cursor: pointer;
    bottom: 0px;
    right: 0px;
}

.link-button-top-text {
    margin: 0px;
    position: relative;
    top: 5px;
    left: 5px;
    transition: all 0.2s ease;
}

.link-button-top:hover>.link-button-top-text {
    margin: 0px;
    position: relative;
    top: 0px;
    left: 0px;
}

.link-borderbottom {
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}

.link-borderbottom:hover {
    border-bottom: 2px solid var(--third);
}

.mainarea {
    width: calc(100vw);
    height: calc(100vh - 93px);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.new-post-button {
    background-color: var(--third);
    max-height: 81px;
    font-family: var(--text);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.new-post-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.postlist-area {
    width: 100%;
    height: calc(100% - 0px);
    margin-top: 31px;
    display: flex;
    flex-direction: column;
}

.postlist-header {
    width: calc(100% - 2*27);
    background-color: var(--second);
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    padding: 0px 27px;
    margin-bottom: 3px;
}

.postlist-item {
    width: calc(100% - 40px);
    background-color: var(--fourth);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    padding: 0px 20px;
    // border: 1px solid transparent;
    margin: 11px 11px;
    border-radius: 0px;
    transition: all 0.2s ease;
}

.postlist-item-title {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--second);
    font-size: 20px;
    font-family: var(--title);
}

.postlist-item-buttons {
    width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
    align-content: center;
}

.postlist-item-button-edit {
    border: none;
    background-color: white;
    border-radius: 15px;
    font-size: 17px;
    color: var(--second);
    padding: 0px 15px;
    margin-right: 10px;
    font-family: var(--text);
    text-decoration: none;
    transition: all 0.2s ease;
}

.postlist-item-button-edit:hover {
    cursor: pointer;
    opacity: 0.8;
}

.postlist-item-button-delete {
    border: none;
    font-size: 17px;
    color: rgb(126, 126, 126);
    padding: 0px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-family: var(--text);
    margin-right: -15px;
    transition: all 0.2s ease;
}

.postlist-item-button-delete:hover {
    cursor: pointer;
    opacity: 0.8;
}

.post-item {
    font-size: 17px;
    color: var(--second);
    text-decoration: none;
    margin: 5px 0px;
    width: 100px;
    position: relative;
    right: 7px;
    transition: all 0.2s ease;
}

.post-item:hover {
    font-size: 17px;
    color: var(--second);
    text-decoration: none;
    margin: 5px 0px;
    right: 0px;
    opacity: 0.7;
    cursor: pointer;
    // color: #32343512;
}

.post-item-logout {
    font-size: 17px;
    color: var(--fourth);
    text-decoration: none;
    margin: 5px 0px;
    width: 100px;
    position: relative;
    right: 7px;
    transition: all 0.2s ease;
}

.post-item-logout:hover {
    font-size: 17px;
    color: var(--fourth);
    text-decoration: none;
    margin: 5px 0px;
    right: 0px;
    opacity: 0.7;
    cursor: pointer;
    // color: #32343512;
}

.item-input {
    width: calc(100% - 40px);
    border: 0px solid black;
    background-color: var(--fourth);
    font-size: 17px;
    padding: 10px 20px;
    outline: none;
    color: var(--second);
    border-radius: 0px;
    font-family: var(--text);
}

.align-button {
    background-color: var(--first);
    border: 50px;
    border-radius: 0px;
    padding: 10px;
    transition: all 0.2s ease;
}

.align-button-start {
    border-radius: 0px;
    background-color: var(--first);
    border: 50px;
    padding: 10px;
    transition: all 0.2s ease;
}

.align-button-end {
    border-radius: 0px;
    background-color: var(--first);
    border: 50px;
    padding: 10px;
    transition: all 0.2s ease;
}

.align-button:hover {
    background-color: var(--third);
    cursor: pointer;
}

.align-button-start:hover {
    background-color: var(--third);
    cursor: pointer;
}

.align-button-end:hover {
    background-color: var(--third);
    cursor: pointer;
}

.align-button img {
    width: 21px;
}

.align-button-start img {
    width: 21px;
}

.align-button-end img {
    width: 21px;
}

.additemdropdownbutton {
    width: calc(90% - 10px);
    background-color: var(--third);
    color: var(--second);
    border-radius: 0px;
    padding: 1px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    transition: all 0.3s ease;
}

.additemdropdownbutton p {
    color: var(--second);
}

.additemdropdownbutton:hover {
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px #D7FFB6);
}

.additemdropdown {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 50px;
}

.addBlock-item {
    background-color: white;
    border-radius: 0px;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 7px 0px;
    width: 45%;
    transition: all 0.3s ease;
}

.addBlock-item:hover {
    cursor: pointer;
    border: 1px solid black;
}

.loginareaborder {
    width: auto;
    max-width: 500px;
    border: 1px solid var(--second);
    height: auto;
}

.loginarea {
    margin: 5px;
    padding: 50px 30px;
    width: calc(100% - 70px);
    height: 100%;
    background-color: var(--second);
}

.loginarea h1 {
    color: var(--first);
    margin: 0px auto;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.loginarea input {
    width: calc(100% - 50px);
    margin: 5px 20px;
    padding: 5px;
    border: none;
    outline: none;
    font-family: var(--text);
    font-size: 17px;
}

.loginarea button {
    width: calc(100% - 40px);
    background-color: var(--third);
    margin: 5px 20px;
    padding: 5px;
    border: none;
    outline: none;
    font-family: var(--text);
    border: 2px solid transparent;
    font-size: 17px;
    transition: all 0.3s ease;
}

.loginarea button:hover {
    cursor: pointer;
    border: 2px solid var(--third);
    color: var(--third);
    background-color: transparent;
}