@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=PT+Serif:wght@700&family=Roboto&display=swap');
:root {
    --first: #fff;
    --second: #323435;
    --third: rgba(33, 33, 33, 0.041);
    --fourth: #828282;
    --title: 'PT Serif', serif;
    --text: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    background-color: var(--first);
    font-family: "Varela Round", sans-serif;
    /* letter-spacing: ; */
}

h1 {
    font-family: var(--title);
    font-weight: normal;
    color: var(--second);
    font-size: 40px;
}

h2 {
    font-family: var(--title);
    font-weight: normal;
    color: var(--second);
    font-size: 34px;
}

h3 {
    font-family: var(--title);
    font-weight: normal;
    color: var(--second);
    font-size: 26px;
}

h4 {
    font-family: var(--title);
    font-weight: normal;
    color: var(--second);
    font-size: 20px;
}

p,
label {
    font-family: var(--text);
    font-weight: 100;
    color: var(--second);
    opacity: 0.9;
    letter-spacing: 0.2px;
    line-height: 130%;
    font-size: 20px;
}

.container {
    max-width: 1040px;
    margin: auto;
    padding: 0px 20px;
}

.navbar-title {
    font-size: 25px;
    color: var(--second);
}

.navbar-link {
    font-family: var(--text);
    color: var(--second);
    text-decoration: none;
    font-size: 17px;
    padding-left: 0px;
    transition: all 0.2s ease;
}

.navbar-link:hover+.navlink-bar {
    // opacity: 0.7;
    width: 100%;
}

.navlink-bar {
    width: 0%;
    height: 2px;
    background-color: var(--second);
    margin-left: 0px;
    transition: all 0.2s ease-in-out;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100px;
    // background: rgb(255, 255, 255);
    // background: linear-gradient(180deg, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 0.8575805322128851) 61%, rgba(255, 255, 255, 0.700717787114846) 81%, rgba(255, 255, 255, 0) 100%);
}

.navbar-inner {
    display: flex;
    flex-direction: row;
    margin-right: -16px;
}

.icon {
    display: none;
}

.header-img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1150px;
    border-radius: 15px;
}

.blog-img {
    width: 100%;
    margin-top: 0px;
    border-radius: 15px;
    background-color: white;
}

.caption {
    font-size: 14px;
    color: var(--fourth);
}

.justify {
    text-align: justify;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.indent {
    text-indent: 40px;
}

.tab-none {
    text-indent: 0px;
}

.tab-1 {
    text-indent: 30px;
}

.tab-2 {
    text-indent: 60px;
}

.download-button-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.button-light {
    background-color: var(--third);
    color: var(--second);
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 15px;
    font-family: var(--text);
    transition: all 0.2s ease;
}

.button-light:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bottom-post-list {
    display: flex;
    width: 100%;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.post-item {
    max-width: 333px;
    border-radius: 15px 15px 0px 0px;
    color: var(--first);
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px 0px #f6f6f6;
    margin: 10px 5px;
    transition: all 0.3s ease;
}

.postItemText {
    color: var(--second);
}

.post-item:hover {
    background-color: #fbfbfb;
    cursor: pointer;
}

.post-item-img {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: 100px;
    padding-right: 0px;
    margin-top: 120px;
}

.footer-inner {
    display: flex;
    flex-direction: row;
}

blockquote {
    background-color: #f6f6f6;
    font-style: italic;
    color: #727272;
    display: block;
    font-size: 17px;
    margin: 0px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.footer-title {
    font-size: 25px;
    color: var(--second);
}

@media screen and (max-width: 1150px) {
    .header-img {
        display: block;
        margin: auto;
        width: calc(100%);
        border-radius: 0px;
        // margin-left: 0%;
    }
}

@media screen and (max-width: 800px) {
    .icon {
        display: block;
        color: var(--second);
        font-size: 30px;
        z-index: 1;
    }
    .navbar-inner {
        display: none;
    }
    .navbar-inner.responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        /* right: 25px; */
        width: 100vw;
        /* padding: 20px; */
        height: calc(100vh - 0px);
        /* border-radius: 0px 0px 0px 10px; */
        background-color: rgba(255, 255, 255, 0.867);
        backdrop-filter: blur(5px);
        /* border-bottom: 1px solid ; */
        /* border-left: 1px solid ; */
        /* border-right: 1px solid ; */
        /* backdrop-filter: ; */
        z-index: 1;
    }
    .navbar-link {
        font-family: var(--text);
        color: var(--second);
        text-decoration: none;
        font-size: 17px;
        margin: 5px 16px;
        transition: all 0.2s ease;
    }
    .container {
        max-width: 1040px;
        margin: auto;
        padding: 0px 30px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        min-height: 100px;
        padding-right: 0px;
        padding: 50px 0px;
    }
    .footer-inner {
        display: flex;
        margin-top: 0px;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        min-height: 100px;
        padding-right: 0px;
    }
    .footer-title {
        font-size: 25px;
        color: var(--second);
        margin-left: 16px;
    }
    .bottom-post-list {
        display: flex;
        width: 100%;
        align-items: stretch;
        align-content: stretch;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
    }
    .header-img {
        width: 100%;
        border-radius: 0px;
        margin-bottom: 0px;
    }
}