<div class="header-area">
    <div style="display: flex; flex-direction: row; align-items: center; align-content: center;">

        <div style="border-bottom: 2px solid #9AFF44; width: fit-content;">
            <a href="/admin/home" style="font-size: 20px; text-decoration: none;">.cms</a>
        </div>
        <p style="padding-left: 10px;"></p>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
        <div class="link-borderbottom" style="width: fit-content; margin: 0px 15px;">
            <a href="/admin/posts" class="link-borderbottom-link" style="font-size: 20px; text-decoration: none;">.posts</a>
        </div>
        <div class="link-borderbottom" style="width: fit-content; margin: 0px 15px;">
            <a href="/admin/pages" class="link-borderbottom-link" style="font-size: 20px; text-decoration: none;">.pages</a>
        </div>
        <div class="link-borderbottom" style="width: fit-content; margin: 0px 15px;">
            <a href="/admin/home" class="link-borderbottom-link" style="font-size: 20px; text-decoration: none;">.website</a>
        </div>
    </div>
    <div style="background-color: #9AFF44; filter: drop-shadow(2px 2px 4px #D7FFB6);">
        <div class="link-button-top" onclick="window.location = '/admin/newpostsetup';">
            <p class="link-button-top-text">New Post</p>
        </div>
    </div>
</div>